<h1>Upcoming Matches</h1>
<hr>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Jan 6</th>
      <td><img src="assets/img/team1.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>vs</td>
      <td><img src="assets/img/team4.jpg" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>9:30</td>
      <td><a href="https://goo.gl/maps/kKeqpZ34ZH72">AJ Katzenmaier <i class="fa fa-location-arrow" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      <th scope="row">Jan 13</th>
      <td><img src="assets/img/team3.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>vs</td>
      <td><img src="assets/img/team2.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>1:00</td>
      <td><a href="https://goo.gl/maps/82Qm6jJNwWH2">Greenbay <i class="fa fa-location-arrow" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      <th scope="row">Jan 20</th>
      <td><img src="assets/img/team5.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>vs</td>
      <td><img src="assets/img/team6.jpg" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>9:30</td>
      <td><a href="https://goo.gl/maps/dd9bxj5TcTD2" >Howard A Yeager <i class="fa fa-location-arrow" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      <th scope="row">Jan 27</th>
      <td><img src="assets/img/team6.jpg" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>vs</td>
      <td><img src="assets/img/team1.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>1:00</td>
      <td><a href="https://goo.gl/maps/ep68XNhaVVK2">Marjorie P <i class="fa fa-location-arrow" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      <th scope="row">Feb 3</th>
      <td><img src="assets/img/team2.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>vs</td>
      <td><img src="assets/img/team5.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>9:30</td>
      <td><a href="https://goo.gl/maps/3vT38G5n3U22">North <i class="fa fa-location-arrow" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      <th scope="row">Feb 10</th>
      <td><img src="assets/img/team5.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>vs</td>
      <td><img src="assets/img/team6.jpg" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>1:00</td>
      <td><a href="https://goo.gl/maps/WJcP2QqELWJ2">South <i class="fa fa-location-arrow" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      <th scope="row">Feb 17</th>
      <td><img src="assets/img/team2.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>vs</td>
      <td><img src="assets/img/team3.png" class="img-fluid logo-fit" alt="team's logo"></td>
      <td>9:30</td>
      <td><a href="https://goo.gl/maps/3vT38G5n3U22">North <i class="fa fa-location-arrow" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>
