.jumbotron{
  margin-top: 15px;
  font-size: 14px;
  text-align: justify;
  background-color: #f8f8f8;
}

.jumbotron h1{
  font-size: 23px;
  font-weight: normal;
  text-align: justify;

}

.jumbotron h5 {
  font-size: 15px;

}

h2{
  font-size: 18px;
}
