h1{
  font-size: 23px;
}

.h3{
   font-size: 14px;
   text-align: center;
 }

#h3{
  margin-left: 14px;
}

.btn{
  margin-top:10px;
  font-size: 13px;
}

.img-fluid{
  margin:auto;
  border-radius: 50%;
  max-width: 70px;
}

#logins{
  margin-top: 10px;
}

#signup{
  margin-top: 30px;
}

p{
  font-size: 14px;
}

form{
  font-size: 14px;
  padding: 16px;
}

form input{
  font-size: 13px;
}
