.fa{
  color:#1faa00;
}

#nav-bottom{
  font-size: 13px;
}

#nav-bottom a{
  color:#fff;
}

.navbar-toggler{
  cursor: pointer;
  outline: 0;
}

.navbar-brand {
  font-size: 15px;

}

.btn{
  font-size: 13px;
  padding: 4px;
}
